{% extends 'base.html.twig' %}

{% block body %}
    <h1>View Log File: {{ filename }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>channel</th>
            <th>logLevel</th>
            <th>Message</th>
            <th>Optional</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.channel }}</td>
                <td>{{ log.logLevel }}</td>
                <td>{{ log.message }}</td>
                <td>{{ log.optionalFields }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if totalPages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('TFSecurity_view_logfile', {'filename': filename, 'page': 1}) }}" aria-label="First">
                            <span aria-hidden="true">| &laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ path('TFSecurity_view_logfile', {'filename': filename, 'page': page - 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% set startPage = page - 3 %}
                {% set endPage = page + 3 %}

                {% if startPage <= 0 %}
                    {% set startPage = 1 %}
                    {% set endPage = 7 %} {# Adjust the value according to your desired range #}
                {% endif %}

                {% if endPage > totalPages %}
                    {% set endPage = totalPages %}
                    {% set startPage = totalPages - 6 %} {# Adjust the value according to your desired range #}
                    {% if startPage <= 0 %}
                        {% set startPage = 1 %}
                    {% endif %}
                {% endif %}

                {% for p in startPage..endPage %}
                    <li class="page-item{% if p == page %} active{% endif %}">
                        <a class="page-link" href="{{ path('TFSecurity_view_logfile', {'filename': filename, 'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}

                {% if page < totalPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('TFSecurity_view_logfile', {'filename': filename, 'page': page + 1}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('TFSecurity_view_logfile', {'filename': filename, 'page': totalPages}) }}" aria-label="Last item">
                        <span aria-hidden="true">&raquo; |</span>
                        <span class="sr-only">Last Item</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
