{% extends 'frontend/public.html.twig' %}

{% block body %}
    <div class="color-switch col-md-8 main-bg-color mb-grid animate main-title d-flex align-items-center ">
        <h2>Neues / <span>Passwort</span><span class="icon-box d-flex"><i data-fa-transform="rotate-90" class="fad  fa-arrow-up"></i></span></h2>
    </div>
    <div class="col-md-9 col-12 p-grid p-md-0 mt-0"><p class="title-copy  mb-grid">
            Bitte geben Sie Ihr neues Passwort an.</p>
    </div>
    <div class="row ">
        <div class="col-12 col-md-6">
            {{ form_start(form) }}

            <div class="form-error">
                {{ form_errors(form.old) }}
            </div>
            <div class="pb-1">
                {{ form_widget(form.old, {'label_attr': {'class': 'col'} }) }}
            </div>


            <div class="form-error">
                {{ form_errors(form.password.first) }}
            </div>
            <div class="pb-1">
                {{ form_widget(form.password.first, {'label_attr': {'class': 'col'} }) }}
            </div>
            <div class="form-error">
                {{ form_errors(form.password.second) }}
            </div>
            <div class="pb-1">
            {{ form_widget(form.password.second, {'label_attr': {'class': 'col'} }) }}
            </div>
            <div class="">
                <button type="submit" id="save" name="save" class="btn-primary btn">Senden</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
