{% extends 'frontend/public.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}

    <div class="color-switch col-12 col-md-8 main-bg-color mb-grid animate main-title d-flex align-items-center  pl-grid ">
        <h2>Meine Ergebnisse</h2> <a href="{{ path('user_logout') }}" class="position-absolute" style="right:25px"> <i
                    class="fad fa-sign-out"></i> Abmelden</a></div>
    <h1 class="mb-1">{{ questionnaire.name }}</h1>
    Dieser Fragebogen wurde <i>{{ result.results | length }}</i> Mal ausgefüllt.
    <div class="row questionaire-result-view">

        <div class="col">
            <div class="panel">

                {% for group in questionnaire.questionGroups %}

                    <h2 class="my-3">
                        {{ group.name }}
                    </h2>
                    <div>
                        {% if  group.description!="" %}
                            <div class=""><strong>{{ group.description }}</strong></div>
                        {% endif %}
                        {% for question in group.questions %}
                            <h5 class="mt-grid">{{ question.title }}</h5>
                            <div class="pl-grid">
                                <div class="main-border p-2 main-bg-color mb-2">{{ question.question }}
                                    {% if question.type == 'multiple_choice' and question.properties.allow_multiple_selection %}(Mehrfachauswahl){% endif %}
                                </div>

                                {% if question.type == 'multiple_choice' %}
                                    <ol type="A" class="mt-grid">
                                        {% for choice in question.choices %}
                                            {% if result.questions[question.id] is defined and result.questions[question.id].choices[choice.id]  is defined %}
                                                {% set perc = (result.questions[question.id].choices[choice.id] / result.results | length * 100 )|round(1, 'floor') %}
                                            {% else %}
                                                {% set perc = 0 %}
                                            {% endif %}
                                            <li class="my-2 " style="position: relative">
                                                <div class="p-grid main-border pr-grid2 "
                                                     style="color:black;background:linear-gradient(to right,#006292 0%, #006292 {{ perc }}%,transparent {{ perc+0.1 }}%,transparent 100%);">{{ choice.choice }}</div>
                                                <div class="p-grid main-border pr-grid2"
                                                     style="position:absolute;top:0;width:100%;background:linear-gradient(to right,#ffffff 0%, #ffffff {{ perc }}%,#000 {{ perc }}%,#000 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                                    {{ choice.choice }}
                                                </div>
                                                <span style="top:50%; -ms-transform: translateY(-50%);transform: translateY(-50%);font-size:0.8em;padding:12.5px;position: absolute;right:-12.5px;color:white;background:#006292">{{ perc|number_format(1, ',', '.') }}%</span>
                                            </li>
                                        {% endfor %}
                                        {% if question.properties.allow_other_choice %}
                                            {% set sum = 0 %}
                                            {% for r in result.questions[question.id].values %}
                                                {% set sum = sum + r %}
                                            {% endfor %}
                                            {% set perc = (sum / result.results | length * 100 )|round(1, 'floor') %}
                                            <li class="my-2 " style="position: relative">
                                                <div class="p-grid main-border pr-grid2 "
                                                     style="color:black;background:linear-gradient(to right,#006292 0%, #006292 {{ perc }}%,transparent {{ perc+0.1 }}%,transparent 100%);">
                                                    Andere*
                                                </div>
                                                <div class="p-grid main-border pr-grid2"
                                                     style="position:absolute;top:0;width:100%;background:linear-gradient(to right,#ffffff 0%, #ffffff {{ perc }}%,#000 {{ perc }}%,#000 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                                    Andere*
                                                </div>
                                                <span style="top:50%; -ms-transform: translateY(-50%);transform: translateY(-50%);font-size:0.8em;padding:12.5px;position: absolute;right:-12.5px;color:white;background:#006292">{{ perc|number_format(1, ',', '.') }}%</span>
                                            </li>
                                        {% endif %}
                                    </ol>
                                    {% if result.questions[question.id].values | length > 0 %}
                                        * {{ result.questions[question.id].values |keys |join(", ") }}
                                    {% endif %}
                                {% elseif question.type == 'opinion_scale' and question.properties.steps is defined %}
                                    <p><i>Entscheiden Sie zwischen 0 und {{ question.properties.steps-1 }}.</i></p>
                                    <div>
                                        {% for i in 0..question.properties.steps-1 %}
                                            {% set perc = 0 %}
                                            {% if result.questions[question.id] is defined and result.questions[question.id].values[i]  is defined %}
                                                {% set perc = (result.questions[question.id].values[i] / result.results | length * 100 )|round(1, 'floor') %}
                                            {% endif %}

                                            <div style=" float: left;text-align: center;margin:25px 25px 0 0;"
                                                 title="{{ perc }} %">
                                                <div class="op_scale_ele color-style-a" style="">
                                                    <div class="percbar" style="height: {{ 100-perc }}%;">
                                                        <span class="perc-nr">{{ loop.index0 }}</span>
                                                    </div>
                                                    <span class="perc-nr" style="z-index: 21;">{{ loop.index0 }}</span>
                                                </div>
                                                <span style="font-size:0.75em">{{ perc|number_format(1, ',', '.') }} %</span>
                                            </div>


                                        {% endfor %}
                                        <div style="clear:both"></div>
                                    </div>
                                {% elseif question.type == 'yes_no' %}
                                    <ul>
                                        <li>Ja</li>
                                        <li>Nein</li>
                                    </ul>
                                {% elseif question.type == 'long_text' and result.questions[question.id] is defined %}
                                    {% if result.questions[question.id].values | length > 0 %}
                                        <ul class="mt-2">
                                            {% for a,i in result.questions[question.id].values %}
                                                {% if a is not empty %}
                                                    <li>{{ a }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endif %}

                                {% if result.questions[question.id] is defined and result.questions[question.id].skipped >0 %}
                                    <strong>Diese Frage wurde
                                        <i>{{ result.questions[question.id].skipped }}</i> Mal übersprungen.</strong>
                                {% endif %}

                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

