{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="panel">
                <h2>Fragegruppen: {{ questionnaire.name }}</h2>
                <data-table
                        sort-by="position"
                        :sort-desc="false"
                        :fields="[
                    {key: 'name', label: 'Name'},
                    {key: 'actions', label: 'Optionen', sortable: false, class:'options'}
                ]">
                    <template v-slot:cell(name)="{row, callAndRefresh}">
                        <strong>{{ '{{' }}row.item.name {{ '}}' }}</strong>
                        <div class="text-muted">{{ '{{' }}row.item.description {{ '}}' }}</div>
                    </template>
                    <template v-slot:cell(actions)="{row, callAndRefresh}">
                        <b-button size="sm"
                                  :href="'{{ path('questionnaire_home') }}/QuestionGroup/Question/'+row.item.id"
                                  class="mr-2">
                            Fragen
                        </b-button>
                        <b-button variant="primary" size="sm"
                                  :href="'{{ path('questionnaire_home') }}/QuestionGroup/edit/'+row.item.id"
                                  class="mr-2">
                            Bearbeiten
                        </b-button>
                    </template>
                </data-table>
            </div>
        </div>
    </div>
{% endblock %}
