{% extends 'frontend/dashboard-teacher/child-templates/account.html.twig' %}
{% block teacher_account_wrapper %}
    <div class="c-{{ category.id }} mt-lg-2">
        <div class="position-relative overflow-hidden d-block tr-category-bg tr-border-radius-bottom t-account-wrapper">

            {% block teacher_account_2 %}
                <div class="t-cat-details-icon-header">
                    <i class="fad fa-arrow-up tr-display-2 tr-rotate-45 float-right text-white py-2 px-2"></i>
                    <i class="{{ category.icon }} t-cat-details-icon-header-icon text-white tr-large-4 float-right pt-4 mt-3"></i>
                </div>
            {% endblock %}

            {% block teacher_account_3 %}
                {# header chart #}
                {% if headerChartValue | number_format(2) %}
                    {# color of the category or fall back 'primary' in HEX #}
                    {% set color = category.color ??  '#006292' %}
                    <div class="col-md-8 col-12 t-header-chart">
                        <div class="extras">
                            <div class="chart">
                                <result-chart-gauge :chart-height="280"
                                                    class="t-result-chart-gauge-header"
                                                    chart-value="{{ headerChartValue }}"
                                                    tick-color="#666"
                                                    the-url=""
                                                    chart-color="{{ color }}">
                                </result-chart-gauge>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
            {% if questionairs | default(null) %}
                {% set totalQuestionnaires= questionairs[category.id] | length %}
            {% else %}
                {% set totalQuestionnaires= 0 %}
            {% endif %}
            <div class="tr-bg-alpha2 d-flex flex-column
            pt-sm-3 px-3 pb-2 position-relative
            align-content-end tr-border-radius-bottom">
                {# link to action in header #}
                <div class="d-flex t-header-link-action tr-sm-position-absolute">
                    <div class="tr-bg-dark-2 px-2 py-1 text-white tr-sm-w-40">
                        <p class="overflow-hidden">
                            <span class="tr-ellipsis">{{ category.name }}</span>
                        </p>
                    </div>
                    <div class="tr-bg-yellow-1 px-2 py-1 tr-border-radius-right">
                        <b-link v-b-modal.modal-cat{{ category.id }}
                                class="d-inline tr-color-black-100 tr-text-decoration">
                            {% if totalQuestionnaires >  numberQuestionnairesDone %}
                                {% trans  from 'dashboard' %}continue{% endtrans %}
                            {% else %}
                                {% trans  from 'dashboard' %}repeat{% endtrans %}
                            {% endif %}
                        </b-link>
                    </div>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-between mt-2 tr-color">
                    <p class="d-inline-block mb-1 p-0 m-sm-0 tr-color-black-100">
                        {{ "schoolAuthorityQuestionnairesDone"|trans({'%numberQuestionnairesDone%': numberQuestionnairesDone, '%totalQuestionnaires%':totalQuestionnaires}, "dashboard")| raw }}
                    </p>
                    <p class="d-inline-block p-0 m-0 tr-color-black-100">{% trans  from 'dashboard' %}yourLogincode{% endtrans %}
                        <b-link class="tr-text-decoration tr-color-black-100" v-b-modal.modal-profile-school-authority>
                            <b>{{ user.schoolAuthority.code }}</b></b-link>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block teacher_account_4 %}
{% endblock %}

