{% block body %}
    <br/><br/>
    <p>Guten Tag  {{ data.salutation }} {{ data.name }},<br/>
        vielen Dank für Ihre Bestellung. Bitte beachten Sie: Aus technischen Gründen kann der Versand einige Zeit in Anspruch nehmen. Die Bestellung ist für Sie kostenfrei.</p>

    <strong>Ihre Daten:    </strong><br/>
    Schule: {{ data.organisation }}<br/>
    Name: {{ data.salutation }} {{ data.name }}<br/>
    E-Mail: {{ data.email }}<br/>
    <br/><br/>
    <strong>Lieferadresse:</strong><br/>
    Straße: {{ data.street }}<br/>
    PLZ: {{ data.postalcode }}<br/>
    Stadt: {{ data.city }}<br/>
    Anzahl Exemplare: {{ data.amount }}<br/><br/>
    <br/><br/>
    Nachricht: {{ data.message | nl2br }}<br/><br/>



    <p>Sie haben uns Ihre Zustimmung gegeben, dass oben stehende Daten von uns entsprechend der Datenschutzerklärung in einem automatisierten Verfahren erhoben, gespeichert und verarbeitet werden, damit die Bestellung abgewickelt werden kann. Eine Weitergabe der Daten an Dritte findet nicht statt.</p>

    <p>Sollte die Angaben nicht korrekt sein, schreiben Sie uns bitte eine E-Mail an <a href="mailto:support@schultransform.org">support@schultransform.org</a> oder nutzen Sie unser <a href="https://www.schultransform.org/kontakt">Kontaktformular</a>.</p>
    <br/><br/>
    Herzliche Grüße<br/>
    Ihr Projektbüro Schultransform


    <br/><br/>   <hr><br/>
    <strong>Projektbüro Schultransform</strong><br/>
    <br/>
    <strong>c/o Helliwood media & education im fjs e.V.</strong><br/>
    Marchlewskistraße 27, 10243 Berlin<br/>
    Telefon: +49 30 2938 1680<br/>
    Telefax: +49 30 2938 1689<br/>
    E-Mail: <a href="mailto:support@schultransform.org">support@schultransform.org</a><br/>
    Internet: <a href="https://www.schultransform.org">https://www.schultransform.org</a><br/>
    <br/>
    <strong>Förderverein für Jugend und Sozialarbeit e.V. (fjs)</strong><br/>
    Geschäftsführender Vorstand: Thomas Schmidt<br/>
    Vereinsregisternummer: VR 11338 B, Amtsgericht Berlin-Charlottenburg<br/>
    <a href="https://fb.tipp.fm/3938_fjs_transparenzdatenbank.htm">Transparenzdatenbank</a><br/><br/>

    <strong>Förderung</strong><br/>
    Das Forschungs- und Entwicklungsprojekt zur Entwicklung einer Plattform zur digitalen Schultransformation [SchulTransform] wird gefördert durch das Bundesministerium für Bildung und Forschung (BMBF) und wird von Helliwood media & education und dem Bündnis für Bildung gemeinsam umgesetzt.
    <br/>
{% endblock %}
